<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696548397766-srj6oj3fn96sso7rsjtn3ia4vkcu5bhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696548397766-srj6oj3fn96sso7rsjtn3ia4vkcu5bhd</string>
	<key>API_KEY</key>
	<string>AIzaSyCBPUgonTwqPQ4mYvTlDBxeNioegkrx0iA</string>
	<key>GCM_SENDER_ID</key>
	<string>696548397766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.kntk</string>
	<key>PROJECT_ID</key>
	<string>unitytest-46161</string>
	<key>STORAGE_BUCKET</key>
	<string>unitytest-46161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696548397766:ios:48596989a692bbda937dc7</string>
	<key>DATABASE_URL</key>
	<string>https://unitytest-46161.firebaseio.com</string>
</dict>
</plist>